@import "tailwindcss";
@import "./css/utilities.css";
@import "./css/components.css";

@font-face {
  font-family: "Rodin Pro";
  src: url("./assets/fonts/Rodin Pro DB.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rodin NTLG Pro";
  src: url("./assets/fonts/RodinNTLG Pro EB.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rodin Pro";
  src: url("./assets/fonts/RodinNTLG Pro EB.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-lightest: #e3f6ff;
  --color-light: #b0edff;
  --color-primary: #5fd4ff;
  --color-dark: #0e4e75;
  --color-darker: #0e2939;
  --color-darkest: #131e29;
  --color-basic: #34b17a;
  --color-advanced: #dfa638;
  --color-expert: #d54856;
  --color-master: #885def;
  --color-remaster: #d584d4;
  --font-sans: "Rodin Pro", sans-serif;
  --font-rodin: "Rodin Pro", sans-serif;
  --font-rodin-bold: "Rodin NTLG Pro", "Rodin Pro", sans-serif;
}

@layer base {
  :root {
    color: var(--color-primary);
    font-synthesis: none;
  }

  * {
    box-sizing: border-box;
  }

  html {
    font-family: var(--font-rodin), sans-serif;
  }

  body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
  }

  p, span {
    font-size: 0.875rem; /* text-sm */
    line-height: 1.5rem; /* leading-6 */
  }

  body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -10;
    background: linear-gradient(
      to bottom,
      #142d45,
      #0b0f16
    );
  }

  a,
  a:visited {
    color: var(--color-primary);
    font-weight: 600;
    text-decoration-line: underline;
    text-decoration-color: color-mix(in srgb, currentColor 50%, transparent);
    text-underline-offset: 2px;
  }

  a:hover {
    color: var(--color-lightest);
  }
}
