@import "tailwindcss";
@import "./css/utilities.css";
@import "./css/components.css";

@font-face {
  font-family: "Rodin Pro";
  src: url("./assets/fonts/Rodin Pro DB.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rodin NTLG Pro";
  src: url("./assets/fonts/RodinNTLG Pro EB.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rodin Pro";
  src: url("./assets/fonts/RodinNTLG Pro EB.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-lightest: #e3f6ff;
  --color-light: #b0edff;
  --color-primary: #5bcbfb;
  --color-dark: #0e5078;
  --color-darker: #0e2939;
  --color-darkest: #131e29;
  --color-basic: #34b17a;
  --color-advanced: #dfa638;
  --color-expert: #d54856;
  --color-master: #885def;
  --color-remaster: #d584d4;

  --color-coral: #e85d45;
  --color-ink: #3a3a3a;
  --color-line: #ae7b34;
  --color-cream: #faf8f4;
  --font-sans: "Rodin Pro", sans-serif;
  --font-rodin: "Rodin Pro", sans-serif;
  --font-rodin-bold: "Rodin NTLG Pro", "Rodin Pro", sans-serif;
}

:root {
  color: var(--color-primary);
  font-synthesis: none;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  margin: 0;
}

@layer base {
  html {
    font-family: var(--font-rodin);
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
  }

  body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(
      to bottom,
      var(--color-dark),
      var(--color-darkest)
    ) fixed;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
